/ipch

/KB\'s\ Warriors.suo
/KB\'s\ Warriors.sln
/KB\'s\ Warriors.sdf
/KB\'s\ Warriors.opensdf

/KB\'s\ Warriors/Debug
/KB\'s\ Warriors/Release

/KB\'s\ Warriors/KB\'s\ Warriors.vcxproj
/KB\'s\ Warriors/KB\'s\ Warriors.vcxproj.filters
/KB\'s\ Warriors/KB\'s\ Warriors.vcxproj.user

/Debug/KB\'s\ Warriors.ilk
/Debug/KB\'s\ Warriors.pdb

/Release/KB\'s\ Warriors.pdb